#tituloprincipal{
    color:green;
    text-align:center;
    font-size: 50px;
}

.caracteristicas{
    color:green
}

.glossario{
    color:gray  
}

.classificacao{
    color:green
}

p{
    text-align: justify;
    font-size: 20px;
}