#tituloprincipal{
    color:#006400;
    text-align:center;
    font-size: 50px;
}

.caracteristicas{
    color:#228B22
}

.glossario{
    color:#191970 
}

.classificacao{
    color:#228B22
}

.contrucao{
    color:red
}

p{
    text-align: justify;
    font-size: 20px;
}