#tituloprincipal{
    background-color: lightgreen;
    color:rgb(0,100,0);
    text-align:center;
    font-size: 50px;
    margin:5px;
    padding: 5px;
}

#imgprincipal{
    width: 500px;
    display: block;
    margin:auto;
}

.imgbryophyta{
    width: 300px;
    margin:5px;
    padding-top:5px;
}

.imgpteridophyta{
    width: 300px;
    margin:5px;
    padding-top:5px;
}

.caracteristicas{
    color:rgb(34,139,34)
}

.glossario{
    color:rgb(25,25,112)
}

.classificacao{
    color:rgb(34,139,34)
}

.construcao{
    color:red
}

p{
    text-align: justify;
    font-size: 20px;
}

